.admes {
  position: relative;
    padding: 20px;
    background-color: white;
    width: 80%;
    top: 85px;
    margin-left: 250px;
    z-index: 99;
    transition: margin-left 0.3s ease;
  }

  .admes.sidebar-active {
    margin-left: 0; /* When sidebar is toggled, reset margin for full visibility */
    width: 100%;;
    
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #343a40;
    color: white;
    transition: left 0.3s ease;
    z-index: 100;
  }
  
  .sidebar-active .sidebar {
    left: 0; /* Sidebar slides into view when active */
    
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }

  
  .rad{
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
  }

  .rad input{
    display: flex;
  }

  
  
  label {
    font-weight: bold;
    
    
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical;
    height: 80px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  


.special-message-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  
  
  input[type="file"] {
    margin-top: 5px;
  }

  
  .btn-primary {
    background-color: #0056b3;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #003d80;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .btn-secondary:hover {
    background-color: #495057;
  }
  